@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

:root {
    --primary-color: #f4f4f4;
    --secondary-color: #606060;
    --tertiary-color: #D26D4A;
    --nav-color: #f8f8f8;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: Lato, sans-serif;
}


/* --------------------- NAVIGATION START -------------------- */

nav {
    display: grid;
    width: 100%;
    grid-template-areas:
        ".  .   hamburger"
        "nav nav   nav ";
    border-bottom: 0.5px solid #b0b0b0;
    background-color: var(--nav-color);
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: var(--secondary-color);
}

h2 {
    font-family: Oswald, sans-serif;
}

#menu-btn {
    position: absolute;
    top: -100%;
    left: -100%;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    display: none;
}

.menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 1.56rem 2.67rem 1.56rem 0;
    position: relative;
    user-select: none;
    visibility: visible;
}

.navicon {
    background: #969696;
    display: block;
    height: 2px;
    width: 21.5px;
    position: relative;
}

.navicon::before {
    top: 6px;
}

.navicon::after {
    top: -6px;
}

.navicon::before,
.navicon::after {
    content: '';
    background: #969696;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.main-nav {
    grid-area: nav;
    max-width: unset;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.nav-item a {
    padding: 20px;
    border-right: 1px solid #f4f4f4;
}

.menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked~.menu-icon .navicon::before {
    transform: rotate(-45deg);
}

.menu-btn:checked~.menu-icon .navicon::after {
    transform: rotate(45deg);
}

.menu-btn:checked~.menu-icon .navicon:before,
.menu-btn:checked~.menu-icon .navicon:after {
    top: 0;
}

.menu-btn:checked~.main-nav {
    max-height: 250px;
}

/* ------------------ NAVIGATION END --------------------- */


/* -----------------MAIN CONTENT START------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-card {
    background-color: #fff;
    width: 94vw;
    margin: 3rem auto 0.6rem auto;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.35rem 0;
    margin: 1.45rem 0 0.7rem 0;
}

.main-card img {
    width: 100%;
    padding: 0;
}

.main-card-title {
    color: var(--tertiary-color);
    font-size: 0.75rem;
    font-weight: bolder;
    letter-spacing: 0.5px;
    margin-bottom: 0.6rem;
}

.card-info>h2 {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-family: Oswald, sans-serif;
    padding: 0;
    margin: 0;
}

.main-para {
    font-size: 1rem;
    line-height: 1.567rem;
    letter-spacing: -0.41px;
    padding: 0.25rem 2.5rem;
}

.read-more-btn {
    color: var(--tertiary-color);
    font-size: 0.75rem;
    letter-spacing: 0.89px;
    font-weight: bold;
    margin: 1rem;
    border: 1px solid var(--tertiary-color);
    padding: 10px 17px;
    background-color: #fff;
}

.sub-info {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin-top: 1.6rem;
    padding: 0.2rem 0;
    border-top: 1px solid var(--primary-color);
}

.author-info {
    font-size: 0.8rem;
    color: #c2c2c2;
    letter-spacing: 0.2px;

}

.social-links {
    display: flex;
    width: 46%;
    justify-content: space-between;
    align-items: center;
}


.fa-brands {
    color: #c2c2c2;
}

/* ----------------------MAIN CONTENT END------------------- */


/* --------------------PROFILE CARD START--------------------- */
.profile-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 94vw;
    margin: 3rem auto 0.6rem auto;
    background-color: #fff;
}

.cover-photo {
    height: 27vh;
}

.profile-pic-circle {
    display: inline-block;
    align-self: center;
    justify-self: center;
    position: absolute;
    top: 22%;
    overflow: hidden;
    border: 7px solid white;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.profile-photo {
    width: auto;
    height: 100%;
    position: relative;
    left: -25%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.35rem 2rem;
    margin: 3.3rem 0 0.7rem 0;
}

.profile-info h2 {
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: Oswald, sans-serif;
    padding: 0;
    margin: 0;
}

.profile-info p {
    font-size: 0.88rem;
    padding: 0.4rem;
    line-height: 1.5rem;

}

.profile-info ul {
    margin-top: 0.3rem;
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-info li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
}

.profile-info > ul > li > a > i {
    font-size: 0.9rem;
    justify-self: center;
}
/* ------------------PROFILE CARD END------------------- */

.popular-post-container {
    display: grid;
    grid-auto-columns: auto;
    align-items: center;
    width: 94vw;
    margin: 2.2rem auto;
    padding: 1.2rem 1.7rem;
    background-color: #fff;
}

.popular-post-container h2 {
    justify-self: center;
    font-size: 1.15rem;
    letter-spacing: 0.8px;
}


.popular-post {
    display: flex;
    flex-direction: column;
    /* padding: 0.3rem 1rem; */
    margin: 0;
    margin-top: 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
}

.popular-post h2 {
    margin: 0.7rem 0;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
}

.popular-post p {
    margin-top: 0;
    margin-bottom: 21px;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}